@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
}

.squareBT {
  position: relative;
  margin: 0 10px;
  width: 200px; /* ลดขนาดเป็น 200px */
  height: 200px; /* ลดขนาดเป็น 200px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.squareBT span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  transition: 0.5s;
}

.squareBT span:nth-child(1) {
  border-radius: 25% 45% 50% 25% / 50% 30% 70% 40%; /* ปรับค่าของ border-radius */
  animation: animate 6s linear infinite;
}

.A:hover span:nth-child(1) {
  border: none;
  background: #f07e6e;
}

.B:hover span:nth-child(1) {
  border: none;
  background: #84cdfa;
}

.Z:hover span:nth-child(1) {
  border: none;
  background: #08e23b;
}

.squareBT span:nth-child(2) {
  border-radius: 30% 50% 50% 30% / 40% 40% 60% 60%; /* ปรับค่าของ border-radius */
  animation: animate 4s linear infinite;
}

.A:hover span:nth-child(2) {
  border: none;
  background: #f07e6e;
}

.B:hover span:nth-child(2) {
  border: none;
  background: #84cdfa;
}

.Z:hover span:nth-child(2) {
  border: none;
  background: #08e23b;
}

.squareBT span:nth-child(3) {
  border-radius: 20% 35% 60% 30% / 30% 40% 60% 70%; /* ปรับค่าของ border-radius */
  animation: animate2 10s linear infinite;
}

.A:hover span:nth-child(3) {
  border: none;
  background: #f07e6e;
}

.B:hover span:nth-child(3) {
  border: none;
  background: #84cdfa;
}

.Z:hover span:nth-child(3) {
  border: none;
  background: #4ce56b;
}

.content {
  position: relative;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}

.content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #fff;
  padding: 6px 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.content a:hover {
  background: white;
  color: #333;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.squareFBT {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
  }

  .square {
    position: relative;
    margin: 0 10px;
    width: 400px;
    height: 400px;
  }

  .square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
  }

  .B span:nth-child(2) {
    border: none;
    background: #84cdfa; /* สีพื้นหลังของ square B */
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
